.text-center {
    margin-top: 50px;
  }
  
  .d-flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  