html, body, #root {
  height: 100%;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.header {
  z-index: 1030;
}

.sidebar {
  position: fixed;
  top: 80px; /* Ajusta este valor para coincidir con la altura de tu encabezado */
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.main-content {
  margin-top: 80px; /* Ajusta este valor para coincidir con la altura de tu encabezado */
  padding-top: 20px;
}
